// $baseA0: "222021";
// $baseA1: "2f2d2d";
// $baseA2: "585153";
// $baseA3: "665c5f";
// $baseA4: "74676c";
// $baseA5: "917e84";
// $baseA6: "a59299";
// $baseA7: "b9a6ad";

// $baseB0: "ad1f51";
// $baseB1: "b82e5e";
// $baseB2: "bf406c";
// $baseB3: "9c818b";
// $baseB4: "b299a2";
// $baseB5: "c2adb4";
// $baseB6: "d4c4ca";
// $baseB7: "ffebf2";

// $baseC0: "7a7871";
// $baseC1: "8d8b81";
// $baseC2: "9f9d93";
// $baseC3: "b0aea6";
// $baseC4: "c2c0b7";
// $baseC5: "d7d5cb";
// $baseC6: "eae9e1";
// $baseC7: "fbfbf9";

// $baseD0: "998000";
// $baseD1: "aa8f09";
// $baseD2: "b89c14";
// $baseD3: "c3a822";
// $baseD4: "ccb333";
// $baseD5: "d9cc8c";
// $baseD6: "e6d999";
// $baseD7: "fcec9c";

$baseA0: hsl(339, 2%, 13%);
$baseA1: hsl(339, 3%, 18%);
$baseA2: hsl(339, 4%, 33%);
$baseA3: hsl(339, 5%, 38%);
$baseA4: hsl(339, 6%, 43%);
$baseA5: hsl(339, 8%, 53%);
$baseA6: hsl(339, 10%, 61%);
$baseA7: hsl(339, 12%, 69%);

$baseB0: hsl(339, 70%, 40%);
$baseB1: hsl(339, 60%, 45%);
$baseB2: hsl(339, 50, 50%);
$baseB3: hsl(339, 12%, 56%);
$baseB4: hsl(339, 14%, 65%);
$baseB5: hsl(339, 15%, 72%);
$baseB6: hsl(339, 16%, 80%);
$baseB7: hsl(339, 100%, 96%);

$baseC0: hsl(50, 4%, 46%);
$baseC1: hsl(50, 5%, 53%);
$baseC2: hsl(50, 6%, 60%);
$baseC3: hsl(50, 6%, 67%);
$baseC4: hsl(50, 8%, 74%);
$baseC5: hsl(50, 13%, 82%);
$baseC6: hsl(50, 18%, 90%);
$baseC7: hsl(50, 23%, 98%);

$baseD0: hsl(50, 100%, 30%);
$baseD1: hsl(50, 90%, 35%);
$baseD2: hsl(50, 80%, 40%);
$baseD3: hsl(50, 70%, 45%);
$baseD4: hsl(50, 60%, 50%);
$baseD5: hsl(50, 50%, 70%);
$baseD6: hsl(50, 60%, 75%);
$baseD7: hsl(50, 95%, 80%);

@import "demo";
