.bg-baseA0 {
  background-color: #322d29;
  color: #c7beb8;
}

.bg-baseA1 {
  background-color: #3f3a37;
  color: #cdc4bf;
}

.bg-baseA2 {
  background-color: #5b534d;
  color: #d2cbc6;
}

.bg-baseA3 {
  background-color: #6a5f58;
  color: #d8d1cd;
}

.bg-baseA4 {
  background-color: #796b63;
  color: #ddd8d4;
}

.bg-baseA5 {
  background-color: #a3948a;
  color: #3f3a37;
}

.bg-baseA6 {
  background-color: #b5a9a1;
  color: #544d48;
}

.bg-baseA7 {
  background-color: #c7beb8;
  color: #5b534d;
}

.bg-baseB0 {
  background-color: #6f5849;
  color: #dfb99f;
}

.bg-baseB1 {
  background-color: #786254;
  color: #dfb99f;
}

.bg-baseB2 {
  background-color: #816d5f;
  color: #e6c7b3;
}

.bg-baseB3 {
  background-color: #88786d;
  color: #e2bea7;
}

.bg-baseB4 {
  background-color: #967e6e;
  color: #3f3a37;
}

.bg-baseB5 {
  background-color: #a48774;
  color: #5b534d;
}

.bg-baseB6 {
  background-color: #dfb99f;
  color: #6a5f58;
}

.bg-baseB7 {
  background-color: #fff3eb;
  color: #796b63;
}

.bg-baseC0 {
  background-color: #736d5e;
  color: #cfc9b9;
}

.bg-baseC1 {
  background-color: #88806d;
  color: #e2dcd0;
}

.bg-baseC2 {
  background-color: #9a927e;
  color: #f2efe8;
}

.bg-baseC3 {
  background-color: #aaa392;
  color: #504c41;
}

.bg-baseC4 {
  background-color: #bbb4a5;
  color: #575247;
}

.bg-baseC5 {
  background-color: #cfc9b9;
  color: #5e594d;
}

.bg-baseC6 {
  background-color: #e2dcd0;
  color: #655f53;
}

.bg-baseC7 {
  background-color: #f2efe8;
  color: #6c6658;
}

.bg-baseD0 {
  background-color: #9c8349;
  color: #fccc59;
}

.bg-baseD1 {
  background-color: #b3944d;
  color: #fdcf66;
}

.bg-baseD2 {
  background-color: #bfa05a;
  color: #fdd372;
}

.bg-baseD3 {
  background-color: #cda956;
  color: #796639;
}

.bg-baseD4 {
  background-color: #d9b154;
  color: #826d3d;
}

.bg-baseD5 {
  background-color: #e6b84d;
  color: #8b7541;
}

.bg-baseD6 {
  background-color: #f1be46;
  color: #937c45;
}

.bg-baseD7 {
  background-color: #fcc440;
  color: #9c8349;
}

@font-face {
  font-family: 'Overpass';
  src: url("../../fonts/overpass/Overpass-Light.woff2") format("woff2"), url("../../fonts/overpass/Overpass-Light.woff") format("woff"), url("../../fonts/overpass/Overpass-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

.bg-dark,
.bg-dark body {
  background-color: #71655e;
}

.bg-light,
.bg-light body {
  background-color: #d2cbc6;
}

body {
  margin: 0;
  font: 100%/1.5 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  background: inherit;
  color: #111;
  min-height: 100%;
  box-sizing: border-box;
}

section {
  padding-bottom: 5em;
}

nav,
.container-flex,
h3,
section {
  opacity: 1;
}

.wf-active body,
.wf-active button,
.wf-active .button {
  font-family: Overpass, AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

h1, h2, h3 {
  display: inline-block;
  margin: 0;
  font-family: AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  font-weight: normal;
}

h2, h3 {
  padding: 1rem 0 0;
}

.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: Overpass, AvenirNextCondensed-DemiBold, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
}

.bg-dark .col h3 {
  color: #3f3a37;
}

.bg-light .col h3 {
  color: #a3948a;
}

a {
  text-decoration: none;
}

.container {
  max-width: 100%;
  overflow: auto;
}

.header,
.footer {
  width: 100%;
  text-align: center;
  color: #fff3eb;
}

.github-corner svg[style] {
  fill: #322d29 !important;
}

.bg-dark .github-corner svg[style] {
  color: #5b534d !important;
}

.bg-dark .github-corner:hover svg[style] {
  color: #cda956 !important;
}

.bg-light .github-corner svg[style] {
  color: #736d5e !important;
}

.bg-light .github-corner:hover svg[style] {
  color: #fcc440 !important;
}

.bg-dark .header {
  background: #5b534d;
}

.footer {
  background: #3f3a37;
}

.bg-light .header {
  background: #736d5e;
}

.header {
  padding: 3em 0 1em;
}
@media (min-width: 320px) {
  .header {
    padding-bottom: 0;
  }
}
@media (min-width: 640px) {
  .header {
    padding: 0;
  }
}

.header p {
  font-size: 1em;
}
@media (max-width: 640px) {
  .header p {
    font-size: .875em;
  }
}

.header p,
.btn-text,
.footer small {
  letter-spacing: 1px;
  word-spacing: -1px;
}

.footer {
  padding: 1.5em 0 2em;
  letter-spacing: 1px;
  word-spacing: -1px;
}

.header a,
.footer a {
  color: #cda956;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.header a:hover,
.footer a:hover {
  color: #d9b154;
}

.logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 320px) {
  .logo {
    width: 100vw;
    height: 0;
    padding-bottom: 39.28571428571429%;
  }
}

svg {
  max-width: 100%;
}

@media (max-width: 319px) {
  .logo svg {
    display: none;
  }
}
@media (min-width: 320px) {
  .logo svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.bg-light [id="bg-bottom"] rect {
  fill: #f2efe8;
}

.bg-dark [id="bg-bottom"] rect {
  fill: #3f3a37;
}

.bg-light [id="app-name"] text {
  fill: #3f3a37;
}

.bg-dark [id="app-name"] text {
  fill: #f2efe8;
}

[id="bg"] rect {
  fill: #fff3eb;
}

[id="bg-inner-bottom"] polygon {
  fill: #a48774;
}

[id="bg-inner-sides"] polygon {
  fill: #dfb99f;
}

[id*="logo-glyphs"] path {
  fill: currentColor;
}

[class*="bg-"] [id*="-shadow"] path,
[class*="bg-"] [id*="-inner"] path {
  fill: #5b534d;
}

[class*="bg-"] [id*="-shadow"] path,
[class*="bg-"] [id*="-inner"] path {
  opacity: 0;
}

.domready [id*="-shadow"] path,
.domready [id*="-inner"] path {
  -webkit-animation: glyph-opacity 3s infinite linear;
          animation: glyph-opacity 3s infinite linear;
}

.domready [id="tone-inner"] path,
.domready [id="tone-shadow"] path {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

@-webkit-keyframes glyph-opacity {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}

@keyframes glyph-opacity {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-variation,
.nav-variation_list {
  min-height: 2.9em;
}

.nav-variation {
  overflow: auto;
  clear: both;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
}
@media (min-width: 640px) {
  .nav-variation {
    padding-top: 0;
  }
}

@media (max-width: 639px) {
  .js .nav-variation {
    padding-top: 3.5em;
  }
}

@media (max-width: 639px) {
  .js .nav-closed {
    max-height: 0;
    overflow: hidden;
  }
}

.nav-open {
  max-height: 40em;
}

.nav-variation_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 640px) {
  .nav-variation_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-right: 3em;
  }
}

.no-flexbox .nav-variation_list {
  display: block;
}
@media (min-width: 640px) {
  .no-flexbox .nav-variation_list {
    float: right;
  }
}

.nav-variation_list li {
  margin-left: 2px;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-preferred-size: 50px;
      flex-basis: 50px;
}
@media (min-width: 640px) {
  .nav-variation_list li {
    -ms-flex-preferred-size: initial;
        flex-basis: initial;
  }
}

@media (min-width: 640px) {
  .no-flexbox .nav-variation_list li {
    display: inline-block;
  }
}

.nav_list a {
  border: 1px solid transparent;
  letter-spacing: 1px;
}

.nav_toggle-themes .btn-text,
.nav-variation_list a,
.demo-tiles-header-text b {
  text-transform: capitalize;
}

.nav-variation_list a {
  padding: .75em 1em;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
@media (min-width: 640px) {
  .nav-variation_list a {
    border: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.bg-dark .nav-variation_list a {
  background-color: #f2efe8;
  color: #5b534d;
  border-top-color: #948c77;
  border-bottom-color: #948c77;
}
.bg-dark .nav-variation_list a:hover {
  background-color: #e2dcd0;
}

.bg-dark .nav-themes_list a {
  background-color: #3f3a37;
  color: #e6b84d;
  border-top-color: #46403c;
  border-bottom-color: #322d29;
}
.bg-dark .nav-themes_list a:hover {
  background: #383431;
}

.bg-light .nav-variation_list a {
  background-color: #736d5e;
  color: #fff3eb;
  border-top-color: #817a6a;
  border-bottom-color: #655f53;
}
.bg-light .nav-variation_list a:hover {
  background-color: #6c6658;
}

.bg-light .nav-themes_list a {
  background-color: #88806d;
  border-top-color: #8f8673;
  border-bottom-color: #736d5e;
  color: #fff3eb;
}
.bg-light .nav-themes_list a:hover {
  background-color: #817967;
}

@media (min-width: 640px) {
  [class*="bg-"] .nav-variation_list a {
    border: none;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
  }
}

.nav_list .current a {
  pointer-events: none;
  cursor: default;
}

.bg-dark .nav_list .current a {
  border-top-color: #5b534d;
  border-bottom-color: #322d29;
}

.bg-dark .nav-variation_list .current a {
  background-color: #3f3a37;
  color: #b5a9a1;
  border-top-color: #383431;
  border-bottom-color: #46403c;
}

.bg-dark .nav-themes_list .current a {
  color: #a3948a;
  background: #322d29;
  border-top-color: #2b2724;
  border-bottom-color: #3a332f;
}

.bg-light .nav-variation_list .current a {
  background-color: #f2efe8;
  color: #88786d;
  border-top-color: #eeeae0;
  border-bottom-color: #f7f5f0;
}

.bg-light .nav-themes_list .current a {
  background-color: #f2efe8;
  color: #88786d;
  border-top-color: #c1b7b0;
  border-bottom-color: #cdc4bf;
}

.bg-light .nav_toggle-variation {
  background-color: #88806d;
}

.bg-dark .nav_toggle-variation {
  background-color: #5b534d;
}
@media (max-width: 639px) {
  .bg-dark .nav_toggle-variation {
    background-color: #3f3a37;
  }
}

.nav_toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='rgb(255,255,255)'%3E%3Crect x='12' y='14' width='16' height='2'/%3E%3Crect x='12' y='20' width='16' height='2'/%3E%3Crect x='12' y='26' width='16' height='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  padding: 1em;
  color: #fff;
}

.nav_toggle-variation {
  position: absolute;
  right: 0;
  text-align: right;
  background-position: right center;
}

.nav-open .nav_toggle {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='36' viewBox='0 0 48 36' fill='rgb(255,255,255)'%3E%3Cpath d='M25.261,17.018l4.571,4.572l-1.367,1.297l-4.501-4.573L19.5,22.887l-1.332-1.297l4.5-4.572l-4.5-4.572l1.332-1.332 l4.464,4.608l4.501-4.608l1.367,1.332L25.261,17.018z'/%3E%3C/svg%3E");
}

@media (max-width: 640px) {
  .nav-closed .nav_toggle {
    height: 56px;
  }
}

.nav_toggle .btn-text {
  display: inline-block;
  padding-left: 1.5em;
}

.nav_toggle-themes .btn-text {
  padding-right: .25em;
}

.nav_toggle-variation .btn-text {
  padding-right: 1.5em;
}

@media (min-width: 640px) {
  .nav_toggle-variation,
  .nav_toggle-variation .btn-text {
    display: none;
  }
}

.nav_toggle-themes {
  background-position: .25em center;
  border-bottom-right-radius: 3px;
}
@media (max-width: 640px) {
  .nav_toggle-themes {
    position: fixed;
  }
}
@media (min-width: 640px) {
  .nav_toggle-themes {
    position: absolute;
    margin-top: -2em;
    margin-left: 3em;
    border-radius: 3px;
  }
}

@media (min-width: 640px) {
  .bg-dark .nav_toggle-themes {
    background-color: #3f3a37;
  }
}

@media (min-width: 640px) {
  .bg-light .nav_toggle-themes {
    background-color: #655f53;
  }
}

.container-flex {
  position: relative;
}
@media (min-width: 640px) {
  .container-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.content {
  padding: 2em 3em 5em;
  -webkit-transition: all .3s;
  transition: all .3s;
}
@media (min-width: 640px) {
  .content {
    width: 80%;
    -webkit-box-flex: 4;
        -ms-flex-positive: 4;
            flex-grow: 4;
  }
}

@media (min-width: 640px) {
  .no-flexbox .content {
    width: auto;
  }
}

.js .has-themes-hidden {
  width: 100%;
}

.nav-themes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.bg-light .nav-themes {
  background-color: #88806d;
}

.bg-dark .nav-themes {
  background-color: #3f3a37;
}

@media (min-width: 640px) {
  .js .nav-themes {
    margin-top: 3em;
  }
}

@media (max-width: 639px) {
  .nav-themes-open {
    width: 100%;
  }
}
@media (min-width: 640px) {
  .nav-themes-open {
    width: 20%;
    min-width: 7em;
  }
}

@media (min-width: 640px) {
  .no-flexbox .nav-themes-open {
    float: left;
    margin-right: 3em;
  }
}

.nav-themes-hidden {
  width: 0;
  overflow: hidden;
}

@media (max-width: 639px) {
  .js .nav-themes-hidden {
    height: 0;
  }
}

.nav-themes_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-themes_list a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5em 1em;
}

.demo-tiles {
  overflow: hidden;
  margin-bottom: 3em;
  height: 160px;
}

.demo-tiles.collapsed span {
  color: transparent;
}

.unit {
  float: left;
  width: 12.5%;
  padding: .5em 0;
  text-align: center;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.hidden {
  width: 0;
  height: 0;
  padding: 0;
  float: none;
  opacity: 0;
}

.w-1v3 {
  width: 33.33333%;
}

.w-1v8 {
  width: 12.5%;
}

.demo-tiles-header {
  padding: 0 0 1em;
  display: block;
  overflow: auto;
}

.demo-tiles-header-text {
  display: block;
}

.bg-dark .demo-tiles-header-text {
  color: #3f3a37;
}

.bg-light .demo-tiles-header-text {
  color: #5b534d;
}

.demo-tiles-header-text b {
  font-weight: normal;
}

@media (max-width: 650px) {
  .demo-tiles-header-text .number-shades {
    display: block;
    clear: both;
  }
}

.bg-dark .demo-tiles-header-text .number-shades {
  color: #fff3eb;
  letter-spacing: .5px;
  word-spacing: -.5px;
}

.bg-light .demo-tiles-header-text .number-shades {
  color: #736d5e;
}

.demo-tiles-header .button,
.download .button {
  float: right;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
  margin: 1em 0 0 .35em;
  letter-spacing: -1px;
  word-spacing: 1px;
}

.block-list {
  margin-bottom: 1em;
}

.block-list li {
  list-style: none;
  padding: .5em 1em;
}

[class*="language-"] a {
  background: transparent;
  color: inherit;
  pointer-events: none;
}

.col pre[class*="language-"] {
  max-height: 300px;
  border-radius: 5px;
  line-height: 1.4;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}

.bg-dark ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(63, 58, 55, 0.3);
  border-radius: 2px;
  background-color: #46403c;
}

.bg-dark ::-webkit-scrollbar {
  width: .75em;
  height: .75em;
  background-color: #312d2b;
}

.bg-dark ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(50, 45, 41, 0.3);
  background-color: #383431;
}

.bg-dark ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #312d2b;
}

.bg-dark ::-webkit-scrollbar-corner {
  background-color: #3f3a37;
}

.bg-light ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(199, 190, 184, 0.3);
  border-radius: 2px;
  background-color: #cdc4bf;
}

.bg-light ::-webkit-scrollbar {
  width: .75em;
  height: .75em;
  background-color: #bcb1a9;
}

.bg-light ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  box-shadow: inset 0 0 6px rgba(106, 95, 88, 0.3);
  background-color: #c1b7b0;
}

.bg-light ::-webkit-scrollbar-thumb:window-inactive {
  background-color: #796b63;
}

.bg-light ::-webkit-scrollbar-corner {
  background-color: transparent;
}

button,
.button {
  -webkit-appearance: none;
  overflow: visible;
  border-radius: 4px;
  background-clip: padding-box;
  background-color: #bfa05a;
  border: 1px solid;
  border-color: #d9b154 #bfa05a #b3944d;
  cursor: pointer;
  color: #fff3eb;
  display: inline-block;
  outline: 0;
  margin: 0 0 .5em .75em;
  padding: 1em 2em;
  text-decoration: none;
  vertical-align: top;
  width: auto;
  font: normal 1rem/1.3 AvenirNext-Regular, "Lucida Grande", "Segoe Ui", "Trebuchet Ms", sans-serif;
  letter-spacing: 1px;
  word-spacing: -1px;
}

button:focus,
.button:focus {
  box-shadow: #9c8349 0 0 5px 0;
  z-index: 1;
}

button:hover,
.button:hover {
  background-color: #c6ab6c;
  text-decoration: none;
}

button:active,
.button:active {
  box-shadow: inset rgba(136, 120, 109, 0.25) 0 1px 2px 0;
  border-color: #7a6b62 #796639 #685831;
}

button::-moz-focus-inner, input::-moz-focus-inner, button::-webkit-focus-inner, input::-webkit-focus-inner {
  border: 0;
  padding: 0;
}

.outer {
  text-align: center;
  background-color: #322d29;
  padding: 3em;
}

.inner {
  background-color: rgba(205, 169, 86, 0.75);
  min-height: 300px;
}

@media (min-width: 320px) {
  .header .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}

pre[data-line] {
  position: relative;
  padding: 1em 0 1em 3em;
}

pre.line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre.line-numbers > code {
  position: relative;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.line-numbers-rows > span {
  pointer-events: none;
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 2em;
  background: rgba(153, 122, 102, 0.08);
  background: -webkit-linear-gradient(left, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  background: linear-gradient(to right, rgba(153, 122, 102, 0.1) 70%, rgba(153, 122, 102, 0));
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}

.line-highlight:before,
.line-highlight[data-end]:after {
  content: attr(data-start);
  position: absolute;
  top: .4em;
  left: .6em;
  min-width: 1em;
  padding: 0 .5em;
  background-color: rgba(153, 122, 102, 0.4);
  color: #f5f2f0;
  font: bold 65%/1.5 sans-serif;
  text-align: center;
  vertical-align: .3em;
  border-radius: 999px;
  text-shadow: none;
  box-shadow: 0 1px white;
}

.line-highlight[data-end]:after {
  content: attr(data-end);
  top: auto;
  bottom: .4em;
}

@media (min-width: 750px) {
  .col pre[class*="language-"] {
    padding: 2em 3em;
  }

  h1 {
    font-size: 2.75rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2.25rem;
  }

  p {
    font-size: 1.25em;
  }

  button,
  .button {
    font-size: 1.25rem;
  }
}
